<html>

<body>
    <p>Greetings {{ full_name }},</p>
    Thanks for creating an account with us at the Academic Success Initiative.
    <b>Before you can begin requesting tutoring, you first must verify your account.</b>
    <p>To do this navigate over to
        <a href="https://asiportal.cis.fiu.edu/activate">asiportal.fiu.edu/activate</a> and enter in the following code:</p>
    <p>{{ code }}</p>

    For your reference, your Username is: {{ username }}

    <p>For any questions please email: asi@cs.fiu.edu
    </p>
    <p>Best,
        <br \> The ASI Portal Team
</body>

</html>
