<html>
<body>
    <p>Hello!</p>
    We're letting you know that we have successfully CREATED your cancellation request for the session:
    <p> {{ tutoring_session }}</p>

    <p> If you have an issue with your tutor, or any other questions, please email: asi@cs.fiu.edu</p>

    <p> 
        We are sorry to see you go. If you are struggling with your classes, please don't hesitate to reach out to your Academic Advisor.
	You can contact the ASI Director and Academic Advisor Myrian Herlle at mherlle@fiu.edu

    </p>

    <p> Best,
        <br> The ASI Portal Team</p>
</body>

</html>
