<html>
<body>

    <p>Hello {{first_name}},</p>

    <p>This is a notice that Veterans Day is this week, and so there will be <b>no tutoring on Thursday, November 11</b>.</p>

    <p>Your session:</p>

    <p>{{ course }} tutored by {{ ambassador }} on {{day}}s at {{time}}</p>

    <p>will resume the following week as usual.</p>

    <p>Best,
        <br>The ASI Portal Team</p>

</body>
</html>