<html>

<body>
    <p>Hello {{first_name}},</p>
    <p>We're sorry but we were not able to schedule your request for {{ request }}.
        <br> At the moment all of our rooms are fully booked for that time on that day.
    </p>
    <p>You are more than welcome to create a new request for another day at another time by
        <a href="https://asiportal.cis.fiu.edu/courses">returning back to the tutoring requests page.</a>
    </p>
    <p> Best,
        <br> The ASI Portal Team</p>
</body>

</html>