<html>

<body>
    <p>Greetings {{ full_name }},</p>
    <b>You're getting this email because you've requested to have your password reset.</b>
    <p>To do this please navigate over to
        <a href="https://asiportal.cis.fiu.edu/portal/reset-password/">asiportal.cis.fiu.edu/portal/reset-password</a> and enter in the following code:</p>
    <p>{{ code }}</p>

    <p>For any questions please email: asi@cs.fiu.edu
    </p>
    <p>Best,
        <br \> The ASI Portal Team
</body>

</html>