<html>

<body>
    <p>Hello {{first_name}},</p>
    This is a reminder that your first tutoring session for:
    <p>{{ course }} tutored by {{ ambassador }}</p>
    <p>Begins tomorrow, {{ date }}! The session will
        <b>start at {{ time }} and be 1 hour long. Virtual tutoring is done through Zoom. At the time of your session,
            login to <a href="https://asiportal.cis.fiu.edu">asiportal.cis.fiu.edu</a> and click on the <i>Zoom Meeting Link</i>
            beneath your tutor's name and email.
        </b>
    </p>
    <p>Please be aware that these sessions are recurring every week at the same time and that attendance is mandatory. Two or
        more unexcused absences will result in all of your future sessions being cancelled. If you cannot attend a session please notify
        your ambassador at their email: {{amb_email}}
    </p>
    <p> Best,
        <br> The ASI Portal Team</p>
</body>

</html>