<html>

<body>
    <p>Hello {{first_name}},</p>
    We're letting you know that we just received your request for the following tutoring session:
    <p>{{ request }}</p>
    <p>
        <b>Your request has NOT been scheduled yet. We typically take between 3-5 days to schedule your session. </b>
    </p>
    <p> If you don't hear back from us please email: asi@cs.fiu.edu</p>
    <p> Best,
        <br> The ASI Portal Team</p>
</body>

</html>
