<html>

<body>
    <p>Hello {{first_name}},</p>
    We're sorry but we were not able to schedule your request for the following tutoring session:
    <p>{{ request }}</p>
    <p>Either the requested time slot is unavailable or you have exceeded the limit of one session per subject.</p>
    <p>If you already have one weekly session for {{course}} and would like to request more, please email asi@cs.fiu.edu. If you have not exceeded this limit please try requesting another time.</p>
    <p> Best,
        <br> The ASI Portal Team</p>
</body>

</html>
