<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>Hello {{first_name}},</p>
    This is a reminder that you have a tutoring session <b>NOW</b> for:
    <p>{{ course }} tutored by {{ ambassador }} at {{time}}</p>
    <a href={{zoom_pmi}}><p>You can join the session here: {{zoom_pmi}}</p></a>
    <p>Please be aware that these sessions are recurring every week at the same time and that attendance is mandatory. Two or
        more unexcused absences will result in all of your future sessions being cancelled. If you cannot attend a session please notify
        your ambassador at their email: {{amb_email}}
    </p>
    <p> Best,
        <br> The ASI Portal Team</p>
</body>
</html>