<html>

<body>
    <p>Hello!</p>
    We're letting you know that we just scheduled the following tutoring session:
    <p>{{ course }} tutored by {{ ambassador }} on {{ day }} at {{ time }} </p>
    <p>
        <b>Your tutoring sessions will begin on {{start_date}} and will continue each {{ day }} until the week prior to finals
            week. Virtual tutoring is done through Zoom. At the time of your session, login to
            <a href="https://asiportal.cis.fiu.edu">asiportal.cis.fiu.edu</a> and click on the <i>Zoom Meeting Link</i>
            beneath your tutor's name and email.</b>
    </p>
    <p>
        <b>*Note that the session will not appear in your schedule until the first session is less than a week away.*</b>
    </p>
    <p>
        <b>Please be aware that these sessions are recurring every week at the same time and that attendance is mandatory. Two or
        more unexcused absences will result in all of your future sessions being cancelled. If you cannot attend a session please notify
        your ambassador at their email: {{amb_email}}
        </b>
    </p>

    <p>Best,
        <br> The ASI Portal Team</p>
</body>

</html>