<html>

<body>
    <p>Hello {{first_name}},</p>
    We're letting you know that you have an unexcused absence for the following tutoring session:
    <p>{{ course }} tutored by {{ ambassador }} on {{day}}, {{date}} at {{time}}</p>
    <p>
        <b>Please be aware that these sessions are recurring every week at the same time and that attendance is mandatory. Two or
        more unexcused absences will result in all of your future sessions being cancelled. If you cannot attend a session please notify
        your ambassador at their email: {{amb_email}}
        </b>
    </p>
    <p> Best,
        <br> The ASI Portal Team</p>
</body>

</html>